* {
    margin: 0;
}

.container {
    border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main";
}

.header {
    display: grid;
    grid-area: header;
    grid-template-columns: 3fr 2fr;
    /* grid-template-rows: 1fr 2fr; */
    grid-template-areas: 
    "search user-p"
    "user-i buttons";
    border: 1px solid gray;
    padding-left: 35px;
    padding-right: 35px;
}

.header .search-bar {
    grid-area: search;
    display: flex;
    align-items: center;
    padding-right: 15px;
}

.search-bar button {
    background-color: white;
    border: none;
}

.search-bar input {
    width: 100%;
    height: 25px;
    background-color: rgb(226,232,240);
    border-radius: 12px;
    border: none;
}

.header .user-profile {
    grid-area: user-p;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.user-profile img {
    height: 50px;
    width: 50px;
    padding: 10px;
}

.user-profile img + p {
    padding: 15px;
}

.header .user-info {
    grid-area: user-i;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.user-info img {
    height: 70px;
    width: 70px;
    padding-right: 25px;
}

.header .header-buttons {
    grid-area: buttons;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
}

.header-buttons button {
    width: 70px;
}


.sidebar {
    padding: 10px;
    background-color: rgb(26,146,212);
    grid-area: sidebar;
    display: grid;
    grid-template-rows: 1fr 3fr 1.5fr 3fr;
    grid-template-areas: 
    "dashboard"
    "front-nav"
    "back-nav";
    row-gap: 20px;
}

.dashboard {
    grid-area: dashboard;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
    "dashboard-img dashboard-text";
    align-items: center;
}

.dashboard-img img {
    width: 40px;
}

.dashboard-img {
    grid-area: dashboard-img;
}

.dashboard-text {
    grid-area: dashboard-text;
}

.front-nav {
    grid-area: front-nav;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
    "home-img home-text";
    align-items: center;
    row-gap: 5px;
}

.front-nav img {
    width: 25px;
}

.home-img {
    grid-area: home-img;
}

.home-text {
    grid-area: home-text;
}

.back-nav {
    grid-area: back-nav;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
    "settings-img settings-text";
    align-items: center;
    row-gap: 5px;
}

.back-nav img {
    width: 25px;
}

.settings-img {
    grid-area: settings-img;
}

.settings-text {
    grid-area: settings-text;
}

.main-content {
    /* padding: 20px 10px; */
    background-color: rgb(226,232,240);
    grid-area: main;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
    "projects announcements"
    "projects trending";
}

.your-projects {
    height: fit-content;
    grid-area: projects;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 5fr 5fr 5fr;
    padding: 0 20px 30px;
    gap: 20px;
}

.y-p-header {
    grid-area: 1 / 1 / 2 / 3;
    padding-top: 20px;
    /* flex this item for alignment? */
}

.y-p-header ~ div {
    height: 150px;
    background-color: white;
    border: solid 1px black;
    border-radius: 4px;
    padding: 20px;
    display: grid;
    grid-template-rows: 2fr 1fr;
    align-items: center;
    justify-items: end;
}

.y-p-header ~ div img {
    width: 25px;
}

.announcements {
    height: 205px;
    grid-area: announcements;
    display: grid;
    grid-template-rows: 1fr 6fr;
    padding: 0 20px;
    /* gap: 20px; */
}

.a-header {
    padding-top: 20px;
    height: 40px; /* Maybe not necessary */
}

.a-header ~ div {
    height: 300px;
    background-color: white;
    border: solid 1px black;
    border-radius: 4px;
    display: grid;
    gap: 20px;
    padding: 10px;
    font-size: small;
}

.trending {
    height: 80px;
    grid-area: trending;
    display: grid;
    grid-template-rows: 1fr 6fr;
    padding: 20px;
    /* gap: 20px; */
}

.t-header {
    padding-bottom: 20px;
}

.t-header ~ div {
    height: 205px;
    background-color: white;
    border: solid 1px black;
    border-radius: 4px;
    display: grid;
    /* grid-template-rows: 1fr; */
    gap: 20px;
    padding: 10px;
}

.t-container > div {
    display: grid;
    grid-template-columns: 1fr 3fr;
    /* grid-template-areas: 
    "t-image t-handle"
    "t-image t-subject"; */
 }

 .t-container > div div {
    display: grid;
 }

.t-header ~ div img {
    width: 25px;
    grid-area: t-image; /* Not sure why this centers image? */
}

/* .t-header ~ div h6 {
    grid-area: t-handle;
    grid-area: 1 / 2 / 2 / 3;
} */

.t-header ~ div p {
    font-size: small;
}